/* Page */

/* .slide-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: #000;
  animation: appear-welcome 3s ease-in;
  z-index: 9999;
}

@keyframes appear-welcome {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  100% {
    clip-path: circle(0 at 50% 50%);
  }
  0%,
  50%,
  100% {
    visibility: visible;
  }
} */

// メイン
.patao-portfolio span {
  display: inline-block;
}

@for $i from 1 through 14 {
  #signle-char-#{$i} {
    animation: appear-character 1s 0.1s * $i ease-in;
  }
}

@keyframes appear-character {
  0% {
    opacity: 0;
    transform: scale(30);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}

/*  Header */
.sub-header:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  border-bottom: 2px solid #06b6d4;
}

.works-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 2rem;
}

// コンテンツ FADE IN アニメーション
.fade-in {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}

.fade-in-up {
  transform: translate(0, 50px);
}

.fade-in-down {
  transform: translate(0, -50px);
}

.fade-in-left {
  transform: translate(-50px, 0);
}

.fade-in-right {
  transform: translate(50px, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/* トップへボタン */
.scroll {
  display: inline-block;
  position: absolute;
  top: 34%;
  left: 34%;
  padding-top: 70px;
}
.scroll::before {
  animation: allow 3.5s infinite;
  border: solid #000;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}
@keyframes allow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  80% {
    transform: rotate(-45deg) translate(30px, -30px);
  }
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
